.games {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.image {
  width: 30em;
  height: 30em;
}

@media screen and (min-width: 600px) {
  .games {
    flex-direction: row;
  }
}
